.sign-up-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-input,
.password-input {
  width: 50%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
}

.signUp-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 75px;

}

.submit-button {
  margin: 20px 10px;
  background-color: dodgerblue;
}

.submit-button:hover {
  background-color: lightblue;
}

.google-button {
  display: flex;
  align-items: center;
  height: 42px;
  margin: 20px 10px;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

.google-button img {
  margin-right: 10px;
  height: 25px;
}

.error-message {
  color: red;
  margin-top: 10px;
}