body {
  background-color: #3e3e3e;
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-left: 44px;
  font-family: 'Chalkboard SE', sans-serif;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
}

input[type="text"] {
  padding: 10px;
  background-color: #3e3e3e;
  color: white;
  font-size: 1rem;
  border: none;
  margin-right: 10px;
  flex-grow: 1;
  border-bottom: 0.5px  solid grey;
  outline: none;
  font-family: 'Chalkboard SE', sans-serif
}

input[type="text"]:hover {
  color: grey;
}

.addTodo {
  border-bottom: 1px solid white !important;
  /* color: white !important; */
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-family: 'Chalkboard SE', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.add-button:hover {
  font-family: 'Chalkboard SE', sans-serif;
  background-color: #3e8e41;
}

.delete-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Chalkboard SE', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FF5A27;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Chalkboard SE', sans-serif;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"][readonly] {
  background-color: #ccc;
}

input[type="checkbox"]:checked+input[type="text"] {
  color: #4caf50;
  text-decoration: line-through;
}

/* Menu */
.MuiSvgIcon-root {
  color: grey;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }

 .add-button {
    margin-top: 10px;
  }
}