:root {
  --bg-color: #3e3e3e;
  --text-color: #fff;
  --input-bg-color: #3e3e3e;
  --button-bg-color: #589c5b;
  --button-hover-bg-color: #3e8e41;
  --delete-button-bg-color: #f4942e;
  --delete-button-hover-bg-color: #f5a551;
}

.light-mode {
  --bg-color: #eef5f5;
  --text-color: #000;
  --input-bg-color: #eef5f5;
  --button-bg-color: #56a15d;
  --button-hover-bg-color: #6fac75;
  --delete-button-bg-color: #f4942e;
  --delete-button-hover-bg-color: #f5a551;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: 'Chalkboard SE', sans-serif;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
}

input[type="text"] {
  margin-right: 10px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: 1rem;
  border: none; /* Removed border-bottom */
  flex-grow: 1;
  outline: none;
  font-family: 'Chalkboard SE', sans-serif;
}

input[type="text"]:hover {
  color: grey;
}

.add-button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-family: 'Chalkboard SE', sans-serif;
  font-size: 1rem;
  cursor: pointer;

  display: flex;             /* Enable flexbox */
  justify-content: center;   /* Center text horizontally */
  align-items: center;       /* Center text vertically */
}

.add-button:hover {
  background-color: var(--button-hover-bg-color);
}

.delete-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: var(--delete-button-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-family: 'Chalkboard SE', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--delete-button-hover-bg-color);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Chalkboard SE', sans-serif;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:checked + input[type="text"] {
  color: var(--button-bg-color);
  text-decoration: line-through;
}

/* Menu */
.MuiSvgIcon-root {
  color: var(--text-color);
}

.MuiMenu-paper {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.MuiMenuItem-root:hover {
  background-color: var(--button-hover-bg-color) !important;
}

.board-edit-button-container {
  display: flex;
  justify-content: center; /* Center-align the buttons horizontally */
  gap: 5px; /* Reduce the spacing between the buttons */
  margin-top: 10px;
}

.board-save-button,
.board-cancel-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.board-save-button svg {
  color: rgb(101, 101, 239);
  font-size: 1.5rem;
}

.board-cancel-button svg {
  color: red;
  font-size: 1.5rem;
}

.board-save-button:hover svg {
  color: darkblue;
}

.board-cancel-button:hover svg {
  color: darkred;
}

.boards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
  gap: 15px; /* Add spacing between grid items */
  padding: 10px; /* Add padding to the container */
}

.board-tile {
  background: var(--input-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effect */
}

.board-tile:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
}


.board-tile h3 {
  margin: 0;
  font-size: 1rem;
  font-family: 'Chalkboard SE', sans-serif;
  word-wrap: break-word; /* Ensure board names wrap on smaller screens */
}

.light-mode .board-tile {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/* Add a line underneath specific inputs */
input.new-board-name,
input.new-todo {
  border-bottom: 1px solid var(--text-color); /* Add a line underneath */
  border-radius: 0; /* Ensure the line appears only at the bottom */
}

/* Remove line for other inputs (like Todo list fields) */
input[type="text"]:not(.new-board-name):not(.new-todo) {
  border-bottom: none;
}

@media (max-width: 768px) {
  .board-tile {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .board-tile {
    padding: 8px;
  }

  .board-tile h3 {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}

